<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Blog on angular</title>
</head>
<body>
    <link href="style.css" rel="stylesheet">


    <div ng-controller="MainController as main">
              <div class="center">
                  <h2>Add new post</h2>
                  <pre>Title</pre>
                  <input class="addPost" type="text" ng-model="main.postTitle" ><br>
                  <pre>Text</pre>
                  <textarea ng-model="main.postText"></textarea><br>
                  <pre>Author</pre>
                  <input width="40%" type="text" ng-model="main.postAuthor" ><br>
                  <input type="submit" ng-click="main.addNewPost()" value="Add new post">

        </div>
        <div class="block">

                <table>
                    <tr>
                        <th colspan= "9"><h4>Get post by Id  <input class="addPost" type="text" ng-model="main.idPost"> </h4></th>
                        <th colspan= "1"> <input type="submit" ng-click="main.getPostById()" value="Get post"> </th>
                    </tr>
                    <tr><th colspan="10">Posts</th></tr>

                    <tr>
                        <td>Title</td>
                        <td>Text</td>
                        <td>Author</td>
                        <td>Rating</td>
                        <td> + </td>
                        <td> - </td>
                        <td>Delete</td>
                        <td>Update title</td>
                        <td>Update text</td>
                        <td>Update</td>
                    </tr>
                     <tr ng-repeat="element in main.posts track by $index">

                         <td>{{ main.posts[$index].title }}</td>
                         <td>{{ main.posts[$index].text }}</td>
                         <td>{{main.posts[$index].author}}</td>
                         <td>{{main.posts[$index].rating}}</td>
                         <td><input type="submit" ng-click="main.updateRating(true, main.posts[$index].index, $index)" value="up"></td>
                         <td><input type="submit" ng-click="main.updateRating(false, main.posts[$index].index, $index)" value="down"></td>
                         <td><input ng-click="main.deletePost(main.posts[$index].index)" value="delete" type="submit"></td>
                         <td><input type="text" ng-model="main.updatedTitle[$index]"></td>
                         <td><input type="text" ng-model="main.updatedText[$index]"></td>
                         <td><input type="submit" ng-click="main.updatePost(main.posts[$index].index, $index)" value="update"></td>
                     </tr>
                 </table>

        </div>
    </div>

    <script src="bower_components/angular/angular.js"></script>
    <script src="main.js"></script>
</body>
</html>